.XQskgrQ {
  fill: #74767e;
  background: none;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.XQskgrQ svg {
  float: left;
  height: 100%;
  width: 100%;
}

.result-for {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding-top: 32px;
  padding-bottom: 12px;
}

.result-for .search-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.result-for .search-header .title {
  display: block;
  align-self: flex-start;
}

#topbar {
  min-height: 70px;
  display: block;
  top: -1px;
  background-color: #fff;
  backface-visibility: hidden;
  transition: all 0.3s ease;
}

#topbar .shadow-effect {
  background-color: #fff;
  height: 84%;
  position: relative;
  top: 0;
}

#topbar .shadow-effect > div {
  margin: 0 auto;
}

#topbar .top-filters {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

#topbar .top-filters .as-filter {
  position: static;
  display: inline;
}

#topbar .top-filters .as-filter button {
  margin: 0 6px 0 0;
  color: #222325;
  font-size: 16px;
  font-weight: 550;
  border: 1px solid #dadbdd;
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 12px;
}

#topbar .top-filters .as-filter button .chevron-icon-down {
  width: 10px;
  height: 10px;
  position: relative;
  margin-left: 12px !important;
  transition: all 0.3s;
  fill: #74767e;
  background: none;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#topbar .top-filters .as-filter button span svg {
  float: left;
  height: 100%;
  width: 100%;
}

#topbar .top-filters .as-filter .subcategories-list {
  left: unset;
  position: absolute;
  left: 5px;
  min-width: 260px;
  background: #fff;
  border: 1px solid #e4e5e7;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  margin-top: -8px;
  transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.12s;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0 12px 18px rgb(0 0 0 / 14%);
}

#topbar .top-filters .as-filter .subcategories-list.is-open {
  visibility: visible;
  opacity: 1;
  margin-top: 8px;
}

#topbar .top-filters .as-filter .subcategories-list .item {
  column-gap: 24px;
}

#topbar .floating-menu {
  position: relative;
  margin: 0 6px;
}

#topbar .floating-menu .menu-title {
  cursor: pointer;
  font-weight: 600;
  color: #222325;
  min-width: 50px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dadbdd;
  transition: border-color 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  user-select: none;
}

#topbar .floating-menu .chevron-icon-down {
  margin-left: 12px !important;
  position: relative;
  transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#topbar .floating-menu .menu-content {
  width: 580px;
  position: absolute;
  top: 100%;
  margin-top: -18px;
  font-size: 14px;
  line-height: 22px;
  background: #fff;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  border: 1px solid #dadbdd;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.12s;
  box-shadow: 0 12px 18px rgb(0 0 0 / 14%);
}

#topbar .floating-menu.open .chevron-icon-down {
  transform: rotate(-180deg);
}

#topbar .floating-menu.open .menu-content {
  pointer-events: all;
  opacity: 1;
  margin-top: 8px;
}

#topbar .floating-menu .menu-content .content-scroll {
  padding: 12px 24px;
  max-height: 25vh;
  overflow-y: scroll;
  position: relative;
  top: -8px;
  opacity: 0;
  transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.24s;
}

#topbar .floating-menu.open .menu-content .content-scroll {
  opacity: 1;
  top: 0;
}

#topbar .floating-menu .menu-content .more-filter-item {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e4e5e7;
}

#topbar .floating-menu .content-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 700;
  margin-bottom: 6px;
  user-select: none;
}

#topbar .floating-menu .menu-content .more-filter-item .checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
  transition: max-height 0.3s ease;
}

#topbar .floating-menu .menu-content .checkbox-list .checkbox {
  max-width: 50%;
  display: flex;
  align-items: center;
  flex-basis: 50%;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 0;
  margin: 4px 0;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

#topbar .floating-menu .menu-content .checkbox-list .inner-checkbox {
  display: flex;
  align-items: center;
  flex: 1 1;
}
