@tailwind base;
@tailwind components;
@tailwind utilities;

img,
iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 640px) {
  .header,
  .trusted-partner,
  .services-carousel,
  .selling,
  .testimonial,
  .marketplace,
  .footer {
    padding: 0 40px;
  }
  .carousel {
    padding: 0;
  }
}

.bg-image-rule {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  right: 0 !important;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  line-height: 100%;
}
.swiper-button-next:after,
.swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: bolder;
  color: #000;
}

/* Home Carousel */
.carousel .carousel-backgrounds .mySwiper {
  height: 680px;
}

@media screen and (max-width: 1060px) {
  .carousel .carousel-backgrounds .mySwiper {
    height: 415px;
  }
}

.carousel .carousel-backgrounds .hero-andrea {
  background-color: #023a15;
}

.carousel .carousel-backgrounds .hero-valentina {
  background-color: #1a1b1d;
}

.carousel .carousel-backgrounds .hero-moon {
  background-color: #b64762;
}

.carousel .carousel-backgrounds .hero-ritika {
  background-color: #540e1f;
}

.carousel .carousel-backgrounds .hero-zach {
  background-color: #023a15;
}

.carousel .carousel-backgrounds .hero-gabrielle {
  background-color: #7d1a00;
}

@media screen and (min-width: 900px) {
  .carousel .carousel-backgrounds .hero-andrea {
    background-image: url("./assets/bg-hero-1-900-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-moon {
    background-image: url("./assets/bg-hero-2-900-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-ritika {
    background-image: url("./assets/bg-hero-3-900-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-zach {
    background-image: url("./assets/bg-hero-4-900-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-gabrielle {
    background-image: url("./assets/bg-hero-5-900-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-valentina {
    background-image: url("./assets/bg-hero-6-900-x1.webp");
  }
}

@media screen and (min-width: 1160px) {
  .carousel .carousel-backgrounds .hero-andrea {
    background-image: url("./assets/bg-hero-1-1792-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-moon {
    background-image: url("./assets/bg-hero-2-1792-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-ritika {
    background-image: url("./assets/bg-hero-3-1792-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-zach {
    background-image: url("./assets/bg-hero-4-1792-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-gabrielle {
    background-image: url("./assets/bg-hero-5-1792-x1.webp");
  }
  .carousel .carousel-backgrounds .hero-valentina {
    background-image: url("./assets/bg-hero-6-1792-x1.webp");
  }
}

/* ****************** */

/* Services Carousel */
.services-carousel .swiper-button-next,
.services-carousel .swiper-button-prev {
  background-color: #fff;
  color: #000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  z-index: 4;
  top: 50%;
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  line-height: 100%;
}
.services-carousel .swiper-button-next:after,
.services-carousel .swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bolder;
  color: #000;
}
.font-domaine {
  color: #003912;
}

.carousel-search-bar {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ant-input-affix-wrapper {
  padding: 5px 5px 5px 44px !important;
  font-size: 16px;
  height: 48px !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-input-affix-wrapper
  .ant-input-suffix {
  align-items: unset !important;
}
.ant-input-clear-icon {
  font-size: 16px !important;
}

.search-bar button {
  margin: 0;
  border-radius: 0 4px 4px 0 !important;
  display: block;
  font-size: 16px !important;
  padding: 8px 18px !important;
  height: 48px !important;
  background-color: #1dbf73;
}

.search-form button:hover {
  background-color: #16a160 !important;
}

.data-result {
  height: 200px;
  margin-top: 1px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 4px;
}
.data-result::-webkit-scrollbar {
  display: none;
}
.data-result-item {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
/* ****************** */

.testimonial .swiper-button-next {
  right: -15px !important;
}
.testimonial .swiper-button-prev {
  left: -15px !important;
}

.marketplace .categories-list li {
  padding: 0 10px 55px;
}

.marketplace .categories-list .category-item {
  position: relative;
  display: inline-block;
  width: 180px;
}
.marketplace .categories-list .category-item::after {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  transition: 0.4s;
  border-bottom: 2px solid #c5c6c9;
}
.marketplace .categories-list .category-item:hover::after {
  width: 60%;
  border-color: #1dbf73;
}

.category-carousel .mySwiper .swiper-slide {
  width: fit-content !important;
}

.category-carousel .swiper-button-next,
.category-carousel .swiper-button-prev {
  position: absolute;
  top: 25%;
  width: 20px !important;
  height: 20px !important;
  background-color: #d1d5db;
  border-radius: 30px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-carousel .swiper-button-next::after,
.category-carousel .swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.category-carousel .swiper-button-prev {
  right: 40px;
  left: auto;
}

/* Testimonials */

.testimonial .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.testimonial .swiper-pagination {
  position: relative;
}

.testimonial .swiper-pagination-bullet {
  height: 3px !important;
  width: 40px !important;
  border-radius: 2px !important;
}

.testimonial .swiper-pagination-bullet-active {
  color: #1dbf73 !important;
  background: #1dbf73 !important;
}

@media screen and (min-width: 1536px) {
  .testimonial .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -7px !important;
  }
}
/* **************** */

/* Selling */

@media screen and (max-width: 1024px) {
  .selling .selling-wrapper > div {
    display: block;
  }
}

/* **************** */

/* Category Menu */

/* .category-menu .category-menu-wrapper .swiper {
  overflow-x: hidden !important;
  overflow-y: auto;
} */
/* ************** */
