.Tabs__container {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.Tabs__container .bloc-tabs {
  display: flex;
}

.Tabs__container .tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.Tabs__container .tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.Tabs__container .active-tabs {
  background: white;
  color: rgb(31, 121, 6);
}

.Tabs__container .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(31, 121, 6);
}

.Tabs__container button {
  border: none;
}

.Tabs__container .content-tabs {
  flex-grow: 1;
}

.Tabs__container .content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.Tabs__container .content h2 {
  padding: 0px 0 5px 0px;
}

.Tabs__container .content p {
  width: 100%;
  height: 100%;
}

.Tabs__container .active-content {
  display: block;
}

.Tabs__container .plans-btn {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
