.detail-gallery .swiper {
  width: 100%;
  height: 100%;
}

.detail-gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-gallery .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.detail-gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.detail-gallery .mySwiper2 {
  height: 80%;
  width: 100%;
}

.detail-gallery .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.detail-gallery .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.detail-gallery .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.detail-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
